<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="/fragments/head :: head">
    <title>Shop Page</title>
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

<!--  HEADER -->
  <header th:replace="/fragments/header :: header"></header>

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Free Storage</h3>
          <span class="breadcrumb"><a th:href="@{/}">Home</a> > Free Storage</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section trending">
    <div class="container">
      <div class="row trending-box">
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free1.jpg" alt=""></a>
              <span class="price"><em>$36</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Action</span>
              <h4>Pubg</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv rac">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free2.jpg" alt=""></a>
              <span class="price"><em>$12</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Minecraft</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 str">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free3.jpg" alt=""></a>
              <span class="price"><em>$32</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Action</span>
              <h4>CSGO II</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 rac str">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free4.jpg" alt=""></a>
              <span class="price"><em>$38</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Strategy</span>
              <h4>Crash Land</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 rac str">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free5.jpg" alt=""></a>
              <span class="price"><em>$32</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Strategy</span>
              <h4>Call of Dragon</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 rac adv">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free6.jpg" alt=""></a>
              <span class="price"><em>$32</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Action</span>
              <h4>Path of Exile</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv rac">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free7.jpg" alt=""></a>
              <span class="price"><em>$28</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Role Playing</span>
              <h4>World of Tank</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 str">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free8.jpg" alt=""></a>
              <span class="price"><em>$26</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Role Playing</span>
              <h4>Grand theft auto V</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 str">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free9.jpg" alt=""></a>
              <span class="price"><em>$45</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Action</span>
              <h4>ARK</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free10.jpg" alt=""></a>
              <span class="price"><em>$32</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Action</span>
              <h4>No Man's Sky</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 str">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free11.jpg" alt=""></a>
              <span class="price"><em>$45</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Action</span>
              <h4>Fortnine</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 str">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="/assets/images/game_free12.jpg" alt=""></a>
              <span class="price"><em>$19</em>Free</span>
            </div>
            <div class="down-content">
              <span class="category">Strategy</span>
              <h4>Dead Trigger2</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  FOOTER -->
  <footer th:replace="/fragments/footer :: footer"></footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/counter.js"></script>
  <script src="assets/js/custom.js"></script>

  </body>
</html>